/******General Body*************/
body{
    margin: auto;
    text-align: center;
}
p {
    line-height: 2;
}
/**********Images**********/
.sun-img{
    width: 100px;
    height: 100px;
    position: relative;
    right: 200px;
    top: 30px;
}
.global-network-img{
    position: relative;
    display: block;
    margin: auto;
}
/*****Beginnning******/
#greeting{
    margin-top: 50px;
}
.beginning-container{
    background-color: #355C7D;
    padding-top: 200px;
}
/**********About-me************/

#about-me{
    background-color: #E3FDFD;
    padding-top: 100px;
}
#experiences{
    background-color: #E4F9F5;
}
#abilities{
    background-color: #E3FDFD;
}
#projects{
    background-color: #E4F9F5;
}
#contact{
    background-color: #E3FDFD;
}
h1 {
    color: #DAA520;
    font-size: 5.625rem;
    font-family: 'Parisienne', cursive;
    margin: 50px auto 0 auto;
}
h2 {
    font-family: 'Playball', cursive;
    
}
h3{
    font-size: 2.5rem;
    color: #FF2E63;
    font-weight: normal;
}
h4{
    font-family: 'Inconsolata', monospace;
    margin: 50px auto 0 auto;
    color: #6A2C70;
}
a:hover{
    color: #EBEDF0;
}
a{
    color: #2D4059;
    margin: 10px 20px;
    text-decoration: none;
}
/**************************************CLASS SELECTORS**************************************/
.container-fluid{
    padding: 3% 15%;
}
.developer{
    text-decoration: underline;
}
.hr1{
    border-color: lightgray;
    border-style: dotted none none none;
    border-width: 5px;
    width: 25%;
    margin: 100px auto;
}
.hr2{
    width: 50%;
    border-style: double none none none;
    border-color: lightgrey;
    margin: 50px auto;
}
.circular{
    border-radius: 100%;
    padding-top: 50px
}
.end-container{
    background-color: #444F5A;
    padding: 50px 0 20px;
}
.copyright{
    color: #2D4059;
    font-size: 0.90rem;
    padding: 20px 0;
}